<!DOCTYPE HTML>

<html>
	<head>
		<title>myProject</title>
		<meta charset="utf-8" />
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
		<link rel="stylesheet" href="/assets/css/main.css">
		<style type="text/css"></style>
	</head>
	<body id="body2" onload = "loadMap()">
		<!-- BG -->
		<!-- <a onclick="javascript:history.back();"><div class="arrowBack"></div></a> -->
		<a href="/"><div class="arrowBack"></div></a>
		<div id="concDiv">
			<div class="bookDivimg">
				<img class="bookImg" src=<%=rest.imgUrl%>>
			</div>
			<div class="aboutConcRest">
				<p class="aboutRest restName" ><%=rest.name%> <a class="divLink" href="#" onclick="openbox('map'); return false"> <span style class="mapMarker icon fa-map-marker"></span></a></p>
				<p class="rate">Rating : <%for(var i=0;i< rest.rate;i++){%>
				<span style="color: yellow;">&#9734;</span>
					<%}%><%for(var j=0;j<(5-rest.rate);j++){%>
					<span>&#9734;</span>   
				<%}%>	
				</p>
				<p class="aboutRest">Work time : <%= rest.workTime%></p>
				<p class="aboutRest">Average check : <%= rest.averageCheck%></p>
				<p class="aboutRest">Cuisine : <%= rest.food%></p>
					<br>
					<br>
			</div>
			<div id="map"> </div>
			<!-- Tables -->
			<hr class="horLine">
			<p class="aboutRest restName" > Available tables </p>
			<br>
				<div class="LinkTime">
					<a class="divLink" href="/rests/<%=rest.name%>/first">15 : 00 - 18:00 </a>			
				</div>
				<div class="LinkTime">
					<a class="divLink" href="/rests/<%=rest.name%>/second"> 18 : 00 - 21 :00</a>
				</div>
				<div class="LinkTime">
					<a class="divLink" href="/rests/<%=rest.name%>/third">21 : 00 - 00 :00 </a>
				</div>
				<div class="LinkTime"> 
					<a href="/cancelBooking/<%=rest.name%>">Cancel booking</a>					 
				</div>
			<br>

			<% if (tables) { %>
			<% if (!(tables.length===0)) { %>
				<%for(var k = 0 ;k < tables.length ;k++){%>
				<a class="divLink" href="/bookTable/<%=tables[k].restName%>/<%=tables[k].tableNumber%>/<%=time%>">
					<div class="tables">
						<p> <%=tables[k].tableNumber%> </p>
						<p class="aboutRest">Number of seats: <%=tables[k].numberOfSeats%></p>
						<img class="tableImg" src="/images/table.png">
					</div>
				</a>	
				<%}%>	
			<%}else {%>
				<p class="aboutRest restName" > There are no available tables </p>
			<%}%>
			<%}%>	
			<!-- Comments -->
			<br>
			<br>
			<hr class="horLine">
			<p class="aboutRest restName" > Comments </p>
			<form method="post" action="/addComment/<%=rest.name%>">
				<div class="SignInFields">
					<label for="name">Your  name</label>
					<input type="text" name="nameFrom" id="name" />
				</div>
				<br>
				<div >
					<label for="name">Text</label>
					<input class="comentText"  type="text" name="text" id="name" />
				</div>
				<ul class="actions">
					<li><input type="submit" value="Add comment"/></li>
				</ul>
			</form>
			<% if (comments) { %>
				<%for(var k = comments.length-1;k>=0 ;k--){%>
					<div class="comment">
						<p> From : <%=comments[k].nameFrom%></p>
						<p> Text :</p>
						<p><%=comments[k].text%></p>
						<p><%=comments[k].date.getFullYear()+"-"+  comments[k].date.getMonth()+"-"+comments[k].date.getDate() + "  "+ comments[k].date.getHours() + ":"+comments[k].date.getMinutes()%></p>
					</div>
				<%}%>
			<%}%>
			<br>
			</div>	

		<script src = "https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDEgQ6QLmnJC2yFtTfnf0AlcXRUEwTlfFA"></script>
      	<script>
		      function loadMap() {
			
            var mapOptions = {
               center:new google.maps.LatLng(<%-coor.x%>,<%-coor.y%>),
               zoom:12
            }
				
            var map = new google.maps.Map(document.getElementById("map"),mapOptions);
            
            var marker = new google.maps.Marker({
               position: new google.maps.LatLng(<%-coor.x%>,<%-coor.y%>),
               map: map,
            });

            marker.setMap(map);

            var infowindow = new google.maps.InfoWindow({
               content: "<%-rest.name%>"
            });
				
            infowindow.open(map,marker);
         }
      	</script>
      	<script type="text/javascript">
      		function openbox(id){
			    display = document.getElementById(id).style.visibility;
			    if( display=='visible'){
			       document.getElementById(id).style. visibility='hidden';
			    }else{
			       document.getElementById(id).style. visibility='visible';
			    }
			}
      	</script>
      	<script type="text/javascript">
			function openbox(id){
			    display = document.getElementById(id).style.display;
			    if(display=='none'){
			       document.getElementById(id).style.display='inline-block';
			    }else{
			       document.getElementById(id).style.display='none';
			}
		</script>

	</body>
</html>
